parser: "@babel/eslint-parser"
extends: airbnb

rules:
  max-len: [0, 100]
  no-constant-condition: 0
  arrow-body-style: [1, "as-needed"]
  comma-dangle: [2, "never"]
  padded-blocks: [0, "never"]
  no-unused-vars: [2, {vars: all, args: none}]
  no-param-reassign: 0
  guard-for-in: 0
  no-restricted-syntax: 0
  prefer-rest-params: 0
  import/extensions: 0
  no-plusplus: 0
  react/prop-types:
    - 0
    - ignore: #coming from hoc
      - location
      - fields
      - handleSubmit

globals:
  expect: false
  window: false
  navigator: false
  document: false
